<div class="page-header">
  <h1>Please Sign In</h1>
</div>
<%= form_tag sessions_path,:method => :post do %>
    <div class="control-group">
      <%= label_tag :email,nil, :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :email,nil, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :password,nil, :class => 'control-label' %>
      <div class="controls">
        <%= password_field_tag :password,nil,:class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag "Login", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  'home#index', :class => 'btn' %>
    </div>
<% end %>
