<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <%= form_for @patient, :html => { :class => 'form-horizontal',:role => 'form'} do |f| %>
          <div class="form-group">
            <%= f.label :name, :class => 'control-label' %>
              <%= f.text_field :name, :class => 'form-control input-sm' %>
          </div>
          <div class="form-group">
            <%= f.label :email, :class => 'control-label' %>
              <%= f.text_field :email, :class => 'form-control input-sm' %>
          </div>
          <div class="form-group">
            <%= f.label :age, :class => 'control-label' %>
              <%= f.text_field :age, :class => 'form-control input-sm' %>
          </div>
          <div class="form-group">
            <%= f.label :sex, :class => 'control-label' %>
              <%= f.text_field :sex, :class => 'form-control input-sm' %>
          </div>
          <div class="form-group">
            <%= f.label :phone, :class => 'control-label' %>
              <%= f.text_field :phone, :class => 'form-control input-sm' %>
          </div>

          <div class="form-actions">
            <%= f.submit nil, :class => 'btn btn-primary' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        patients_path, :class => 'btn btn' %>
          </div>
        <% end %>
   </div>
</div>